<!--Link with a article component example -->
<!--<articolo></articolo>-->
<h1>{{title}}</h1> 

<nav>
	<a routerLink="/">Elenco articoli</a>
	<a routerLink="/nuovoArticolo">Aggiungi articolo</a>
	<router-outlet></router-outlet>
</nav>

<!--
<articolo-form (mySubmit)="addArticolo($event)"></articolo-form> 
-->

Alcuni esempi gestione template angular:
<!--<articolo [articolo]="myArticolo"></articolo>-->
<articolo [articolo]="myArticolo" (like)="mostraMessaggioRingraziamento($event)"></articolo>
<div>
  Inserisci un numero:
  <input type="number" #numero (keyup)="0" value="0"/>
  </div>
<div>
	Il doppio di {{+numero.value}} è {{ (+numero.value * 2) }}
</div>

<h3>{{"Le Pipe di Angular 2" | uppercase | slice:3:14}}</h3>

